@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}

a{

  align-self: center;

}


@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #308176;
}



h1 {
  font-family: "SF Distant Galaxy";
  color:#5e1044;
}

a{
  color:rgb(0, 255, 76);
}

nav{
  display: flex;
  flex-direction:column;
}

.center{
  display:flex;
  justify-content: center;
  flex-direction: column;
}


/* computer */
@media screen and (min-width: 600px) {
  .nav{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
  }
  .center{

flex-direction:row;

  }

  nav{

flex-direction:row;
justify-content: space-around;

  }



}